name: Deployment Check
on: [push]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Status check
        run: echo "Code updated. Checking deployment on Vercel..."
